<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>htmlTmplate</title>
</head>
<body>
<script type="kissy/xtemplate" id="htmltpl">
    {{#if frame}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <meta name="author" content="{{author}}">
        <meta name="description" content="{{description}}">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
        <!-- start of KISSY+BUI script -->
        {{#if ink_style}}
        <link href="http://kissycdn/kissy/1.4.9-Co/css/dpl/base-min.css" rel="stylesheet">
        <link href="http://kissycdn/kissy/20141114/bui/css/bs3/dpl-min.css" rel="stylesheet">
        <link href="http://kissycdn/kissy/20141114/bui/css/bs3/bui-min.css" rel="stylesheet">
        {{/if}}
        <!-- end of KISSY+BUI script -->
        <!-- start of personalized style -->
        {{#if css_href.length}}
        {{#each css_href}}<link href="{{this}}" rel="stylesheet">
        {{/each}}
        {{/if}}
        <!-- end of personalized style -->

    </head>
    <body>
    {{body}}
    <!-- start of KISSY script -->
    {{#if ink_js}}
    <{{script_st}} src="http://kissycdn/kissy/jquery/jquery-1.8.1.min.js"></{{script_st}}>
    <!-- <script src="http://kissycdn/kissy/??seed-min.js,import-style-min.js,/bui/adapter-min.js" data-config="{combine:true}"></script> -->
    <{{script_st}} src="http://kissycdn/kissy/1.4.9-Co/seed-min.js"></{{script_st}}>
    <{{script_st}} src="http://kissycdn/kissy/1.4.9-Co/import-style-min.js"></{{script_st}}>
    <{{script_st}} src="http://kissycdn/kissy/20141114/bui/adapterCo-min.js"></{{script_st}}>
    {{/if}}
    <!-- end of KISSY script -->
    <!-- start of personalized script -->
    {{#if js_src.length}}
    {{#each js_src}}<{{script_st}} src="{{this}}"></{{script_st}}>
    {{/each}}
    {{/if}}
    <!-- end of personalized script -->
    </body>
    </html>
    {{/if}}
</script>
<script src="./src/htmlEditor/he_index.js"></script>
</body>
</html>