<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="a">
        <div class="control-group">
            <label class="control-label control-label-small">href =</label>

            <div class="controls">
                <input id="b_href" name="b_href" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label control-label-small">target =</label>

            <div class="controls">
                <input id="b_target" name="b_target" type="text" class="input-small ipt-height">
            </div>
        </div>
    </div>

    <div id="button">
        <div class="control-group">
            <label class="control-label control-label-small">name =</label>

            <div class="controls">
                <input id="b_name" name="b_name" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label control-label-small">type =</label>

            <div class="controls">
                <input id="b_type" name="b_type" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label control-label-small">value =</label>

            <div class="controls">
                <input id="b_value" name="b_value" type="text" class="input-small ipt-height">
            </div>
        </div>
    </div>

    <div id="form">
        <div class="control-group">
            <label class="control-label control-label-small">action =</label>

            <div class="controls">
                <input id="b_action" name="b_action" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label control-label-small">method =</label>

            <div class="controls">
                <input id="b_method" name="b_method" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label control-label-small">name =</label>

            <div class="controls">
                <!--name不会同时出现 忽略IDE的报错-->
                <input id="b_name" name="b_name" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label control-label-small">字段数目：</label>

            <div class="controls">
                <input id="b_fnum" name="b_fnum" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">是否标配按钮</label>

            <div class="controls">
                <label class="radio">
                    <input type="radio"  name="b_fbtn" value="yes" checked="checked">是
                </label>
                <label class="radio">
                    <input type="radio"  name="b_fbtn" value="no" >否
                </label>
            </div>

        </div>
    </div>

    <div id="ul">
        <div class="control-group">
            <label class="control-label control-label-small">带li数目：</label>

            <div class="controls">
                <input id="b_ulnum" name="b_ulnum" type="text" class="input-small ipt-height">
            </div>
        </div>
    </div>

    <div id="ol">
        <div class="control-group">
            <label class="control-label control-label-small">start =</label>

            <div class="controls">
                <input id="b_st" name="b_st" type="text" class="input-small ipt-height">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label control-label-small">带li数目：</label>

            <div class="controls">
                <input id="b_olnum" name="b_olnum" type="text" class="input-small ipt-height">
            </div>
        </div>
    </div>
</body>
</html>